*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(156, 155, 155, 0.726);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
}

body{
    background-image: url(math1.webp);
    background-size: 50%;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: azure;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff, 
                      5px 5px 12px #0000004f;
    display: grid;
    grid-template-columns: repeat(4, 70px);
}

input{
    grid-column: 1/5;
    height: 70px;
    width: 280px;
    color: rgb(70, 70, 70);
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    text-align: right;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 12px #ffffff, 
                inset     5px 5px 12px #0000004f;
}

button{
    height: 50px;
    width: 50px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff, 
                 5px  5px 12px #0000004f;
    border-radius: 50%;
    border: none;
    margin: 5px;
    font-size: 16px;
}

.equal{
    width: 123px;
    border-radius: 30px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff, 
                 5px  5px 12px #0000004f;
}

.diff, .equal{
    background-color: #0ff1f1;
}
